<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card m-5 p-3 bg-light border-primary">
      <div class="card-block">
        <h4 class="card-title text-center h1">Log in</h4>
        <%= simple_form_for :user, url: sessions_path do |f| %>
          <%= f.input :username %>
          <%= f.input :password %>

          <%= f.submit 'Log in', class: 'btn btn-primary btn-lg btn-block' %>
        <% end %>
      </div>
      <p class="mt-3">No account? <%= link_to 'Sign up', signup_path %></p>
    </div>
  </div>
</div>
