<% if current_user.nil? %>
  <div class="jumbotron my-3">
    <h1 class="display-3">Awesome To-Do List</h1>
    <p class="lead">
      Welcome to the ultimate Awesome To-Do List application! Because all you need to organize your life is another to-do app. This one isn't like the others though, oh no! It is completely unique and will change everything.
    </p>
    <p class="lead">
      <%= button_to "Try it for free!", users_path, class: "btn btn-primary btn-lg", remote: true %>
    </p>
    <p>Already signed up? <%= link_to "Log in", login_path %></p>
  </div>
<% else %>

  <%= render 'form' %>

  <% if @incomplete_tasks.empty? && @complete_tasks.empty? %>
    <p id="no-tasks">Currently no tasks. Add one above.</p>
  <% end %>

    <div class="card bg-dark text-white my-3">
      <div class="card-header h2">Incomplete Tasks</div>
      <div class="card-body">
        <div class="card-text incomplete-tasks" id="js-incomplete-tasks">
          <%= render @incomplete_tasks %>
        </div>
      </div>
    </div>
    <div class="card bg-light my-3">
      <div class="card-header h2">Complete Tasks</div>
      <div class="card-body">
        <div class="card-text complete-tasks" id="js-complete-tasks">
          <%= render @complete_tasks %>
        </div>
      </div>
    </div>

<% end %>
